PidFile=/var/run/zabbix/zabbix_agentd.pid
# PidFile=/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server=192.168.50.250
ServerActive=192.168.50.250
# Hostname={{inventory_hostname}}
HostnameItem=system.hostname
HostMetadata=cassandra-nodes
Include=/etc/zabbix/zabbix_agentd.d/*.conf


